body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #c2edda;
}

/* Top Header */
.top-header {
  display: flex;
  align-items: center;
  background: #69486a; 
  padding: 10px 20px;
  color: rgb(175, 228, 204);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.search-box {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
}

.search-btn {
  background: #6f8285;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
}

.search-btn:hover {
  background: #111;
}

.top-links a {
  margin-left: 20px;
  color: #c2edda;
  text-decoration: none;
}

/* Layout */
.main-container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #fff;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px 0;
  border-bottom: 1px solid #b0e6bc;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #e40046;
  font-weight: bold;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
}

/* Banner */
.banner img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Products */
.section-title {
  margin: 20px 0 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  height: 320px; /* Equal box size */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.product p {
  margin: 8px 0;
  font-weight: bold;
}

.price {
  font-size: 16px;
  color: #333;
}

.price strike {
  color: red;
  margin-right: 5px;
}
.star-rating {
  direction: rtl;
  display: inline-flex;
  font-size: 20px;
}
.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.stars input {
  display: none;
}

.stars label {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.stars input:checked ~ label {
  color: gold;
}

.stars label:hover,
.stars label:hover ~ label {
  color: gold;
}